table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th,
td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
  text-align: left;
}

tr:hover {
  background-color: #f9f9f9;
}

.delete-icon {
  color: red;
}

button {
  margin: 10px;
  border: none;
  background: none;
  cursor: pointer;
}

.row-selected {
  background-color: #e7e7e7;
}

.row-selected:hover {
  background-color: #e7e7e7;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.delete-selected-button {
  margin-top: 25px;
  cursor: pointer;
  color: red;
  /* put it in center of the screen */
}
