@import url("https://fonts.googleapis.com/css2?family=Inter&family=Montserrat&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

button {
  border-radius: 8px;
  border: 1px solid #dfdfdf;
  padding: 0.6em 1em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #c7c7c7;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
